body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

#root,
.fill {
  width: 100%;
  height: 100%;
}
.styles_toolbar__3NscU .toggle {
  margin-top: 10px;
  width: 100%;
}
.deletePost,
.editPost {
  float: right;
  border: none !important;
}
.editCommentMarker,
.editPostMarker {
  color: green;
  display: none;
}