:global(.ui) {
  .comment {
    overflow: auto;
  }
}
.deleteComment,
.editComment {
  float: right;
  border: none !important;
}
.meta {
  display: block !important;
  margin-bottom: 5px;
  margin-left: 0 !important;
}