.imageWrapper {
  margin-bottom: 10px;
}

:global(.ui.image).image {
  width: auto;
  min-height: 75px;
  max-width: 300px;
  margin: 0 auto;
}

.btnWrapper {
  display: flex;
  justify-content: space-evenly;
}

.btnImgLabel {
  margin: 0 0 0 10px;
}
.inputEmail {
  margin-bottom: 15px;
}
.error {
  color: red;
}